{{#each this}}
<li class="gallery-item">
    <div class="photo-card">
        <div class="img-container">
            <img src="{{webformatURL}}" alt="{{tags}}" class="gallery-image" data-source="{{largeImageURL}}" />
        </div>
        <div class="stats">
            <p class="stats-item">
                <i class="material-icons md-18">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons md-18">visibility</i>
                {{views}}
            </p>
            <p class="stats-item">
                <i class="material-icons md-18">comment</i>
                {{comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons md-18">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}